<div class="row">
  <div>
    <input type="text" [(ngModel)]="textSimple">
    <p>{{textSimple}}</p>
  </div>

  <div class="col-sm-6" *ngIf="alunoSelected">
    <div class="d-flex bd-highlight mb-3 mt-3">
      <div class="me-auto bd-highlight">
        <app-titulo [titulo]="'Cod. Aluno: ' + alunoSelected.id"></app-titulo>
      </div>
      <div class="bd-highlight">
        <button class="btn btn-sm btn-outline-danger" (click)="voltar()">Fechar</button>
      </div>
    </div>

    <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
      <div>
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control">
      </div>
      <br>
      <div>
        <label for="exampleInputPassword1" class="form-label">Sobrenome</label>
        <input type="text" formControlName="sobrenome" class="form-control">
      </div>
      <br>
      <div>
        <label for="exampleInputPassword1" class="form-label">Telefone</label>
        <input type="text" formControlName="telefone" class="form-control">
      </div>

      <div class="form-group">
        <hr>
        <button class="btn btn-success" [disabled]="!alunoForm.valid">Enviar</button>
      </div>
    </form>
  </div>

  <div [ngClass]="{'col-sm-6': alunoSelected, 'col-sm-12': !alunoSelected }">
    <app-titulo [titulo]="title"></app-titulo>
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos">
          <td><button (click)="alunoSelect(aluno)" class="text-dark btn btn-sm btn-warning">Detalhe</button></td>
          <td scope="row">{{aluno.id}}</td>
          
          <td>{{aluno.nome}}</td>
          <td>{{aluno.sobrenome}}</td>
          <td>{{aluno.telefone}}</td>
          <td>
            <div class="btn-group">              
              <button (click)="openModal(template)" class="btn btn-sm btn-outline-primary">Professores</button>
              <button class="btn btn-sm btn-danger">Desativar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 
<ng-template #template>
  <div class="modal-body">
    <app-professores></app-professores>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef?.hide()">
      Fechar      
    </button>    
  </div>
</ng-template>